header{
    height: 22px;
    width: auto;
    background-color: blue;
    color: white;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}
nav ul li{
    margin:0 15px;
    
}