*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    padding: 16px;
    margin: auto;
    background-color: rgb(233, 233, 233);
    max-width:500px;
}
h1{
    color: black;
    text-align: center;
}
input{
    padding: 12px;
    width: 75%;
    height: 44px;
    border-radius: 7px;
    margin-right: 12px;
    border: none;
    background-color: rgb(211, 210, 210);
    border: 1px solid black;
}
button{
    margin:  10px 15px;
    background-color: rgb(37, 180, 59);
    border: none;
    cursor: pointer;
    width: 69px;
    height: 41px;
    border-radius: 4px;
}
.result{
    padding: 17px;
    margin-top: 22px;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(7, 4, 4, 0.2);
}